<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrubms__link">
                    Главная
                </a>
                <a href="#" class="breadcrubms__link">
                    Истории успеха
                </a>
            </div>
        </div>
    </div>
</div>

<section class="article">
    <div class="container">
        <div class="inner-container">
            <div class="content-container article__content">
                <h2 class="page-heading article__page-heading">
                    ТОП-10 поставщиков по количеству контрактов в рамках РМЦ за первый квартал 2020 года
                </h2>
                <p class="page-date article__page-date">
                    10 Марта 2020
                </p>
                <div class="article__top-image-block">
                    <img src="img/article/article-top-image.jpg" alt="" class="article__top-image" />
                </div>
                <div class="article__table">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    №
                                </th>
                                <th>
                                    Организация
                                </th>
                                <th>
                                    Контракты
                                </th>
                                <th>
                                    Сумма, руб
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    ООО «Домкор Индустрия»
                                </td>
                                <td>
                                    589
                                </td>
                                <td>
                                    164 039 277
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    ООО ТС «НУРСИБ»
                                </td>
                                <td>
                                    370
                                </td>
                                <td>
                                    104 698 284
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    ООО "ИНДУСТРИАЛ"
                                </td>
                                <td>
                                    348
                                </td>
                                <td>
                                    9 064 640
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    ООО "МегаКанц"
                                </td>
                                <td>
                                    281
                                </td>
                                <td>
                                    17 745 491
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    ООО ТПК "ПРОМ РЕГИОН"
                                </td>
                                <td>
                                    230
                                </td>
                                <td>
                                    8 018 908
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>
                                    ООО "ТК "ЗИЛАНТ"
                                </td>
                                <td>
                                    169
                                </td>
                                <td>
                                    6 941 696
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>
                                    ООО "ТАТХОЗДОМ"
                                </td>
                                <td>
                                    163
                                </td>
                                <td>
                                    482 738
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>
                                    ООО РЭМ СТРОЙ
                                </td>
                                <td>
                                    159
                                </td>
                                <td>
                                    2 278 856
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>
                                    ООО "АЛЬФА-МАРКЕТ"
                                </td>
                                <td>
                                    143
                                </td>
                                <td>
                                    51 421 702
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>
                                    ООО "КИНГСНАБ"
                                </td>
                                <td>
                                    140
                                </td>
                                <td>
                                    8 801 914
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="article__text">
                    <p>
                        С другой стороны дальнейшее развитие различных форм деятельности требуют определения и уточнения существенных финансовых и административных условий. Задача организации, в особенности же новая модель организационной
                        деятельности требуют определения и уточнения форм развития. Таким образом дальнейшее развитие различных форм деятельности играет важную роль в формировании форм развития.
                    </p>
                    <p>
                        Товарищи! начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры
                        в значительной степени обуславливает создание систем массового участия. С другой стороны укрепление и развитие структуры представляет собой интересный эксперимент проверки форм развития. Значимость этих проблем настолько
                        очевидна, что сложившаяся структура организации способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.
                    </p>
                </div>
                <div class="article__share">
                    <span class="article__share-text">
                        Поделиться:
                    </span>

                    <div class="article__share-links">
                        <a href="#" class="article__share-link">
                            <svg width="20" height="20" aria-hidden="true" class="icon-vk">
                                <use xlink:href="#vk" />
                            </svg>
                        </a>
                        <a href="#" class="article__share-link">
                            <svg width="20" height="20" aria-hidden="true" class="icon-facebook">
                                <use xlink:href="#facebook" />
                            </svg>
                        </a>
                        <a href="#" class="article__share-link">
                            <svg width="20" height="20" aria-hidden="true" class="icon-twitter">
                                <use xlink:href="#twitter" />
                            </svg>
                        </a>
                        <a href="#" class="article__share-link">
                            <svg width="20" height="20" aria-hidden="true" class="icon-ok">
                                <use xlink:href="#ok" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
