<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrubms__link">
                    Главная
                </a>
                <a href="#" class="breadcrubms__link">
                    Возможности
                </a>
            </div>
        </div>
    </div>
</div>

<section class="capabilities">
    <div class="container">
        <div class="inner-container capabilities__content">
            <div class="content-container">
                <h2 class="page-heading capabilities__page-heading">
                    Возможности
                </h2>
                <div class="capabilities__product">
                    <div class="capabilities__product-card">
                        <div class="publications__card-tag">
                            Возможности
                        </div>
                        <h3 class="capabilities__card-title">
                            Микрофинансовый продукт<br />
                            «Однопроцентный»
                        </h3>
                        <div class="capabilities__card-info">
                            <div class="capabilities__card-info-item">
                                <div class="capabilities__card-info-item-key">
                                    Сумма микрозайма
                                </div>
                                <div class="capabilities__card-info-item-value">
                                    от 100 тыс. до 2 млн рублей
                                </div>
                            </div>
                            <div class="capabilities__card-info-item">
                                <div class="capabilities__card-info-item-key">
                                    Срок кредитования
                                </div>
                                <div class="capabilities__card-info-item-value">
                                    от 3 месяцев до 2 лет
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="capabilities__features">
                    <div class="capabilities__features-item">
                        <h4 class="capabilities__features-item-heading">
                            Целевой сегмент
                        </h4>
                        <div class="capabilities__features-item-text">
                            <p>
                                Субъект малого и среднего предпринимательства (далее – субъект МСП) при одновременном соблюдении следующих условий:<br />
                                1) соответствует требованиям Федерального закона от 24.07.2007 N 209-ФЗ «О развитии малого и среднего предпринимательства в Российской Федерации»; <br />
                                2) не включен в перечень наиболее пострадавших отраслей экономики, определенных Постановлением Правительства Российской Федерации от 03.04.2020 N 434 ;<br />
                                3) у которых снижена выручка за месяц, предшествующий месяцу подачи заявки на получение микрозайма более чем на 30 процентов по сравнению со среднемесячной выручкой субъекта МСП за 2019 год, либо за срок осуществления
                                деятельности субъектом МСП в 2019 году (с момента государственной регистрации юридического лица либо индивидуального предпринимателя до 31 декабря 2019 года).
                            </p>
                        </div>
                    </div>
                    <div class="capabilities__features-item">
                        <h4 class="capabilities__features-item-heading">
                            Целевое использование
                        </h4>
                        <div class="capabilities__features-item-text">
                            <p>
                                Любые обоснованные заемщиками затраты в соответствии с Правилами предоставления микрозаймов Некоммерческой микрокредитной компанией «Фонд поддержки предпринимательства Республики Татарстан» (далее – Правила).
                            </p>
                        </div>
                    </div>
                    <div class="capabilities__features-item">
                        <h4 class="capabilities__features-item-heading">
                            Процентная ставка
                        </h4>
                        <div class="capabilities__features-item-text">
                            <p>
                                1% годовых на срок действия ограничительных мер направленных на предотвращение распространения в Республике Татарстан новой коронавирусной инфекции, предусмотренных постановлением Кабинета Министров Республики
                                Татарстан от 19 марта 2020 года № 208 (далее – ограничительные меры), но не менее 6 месяцев cо дня заключения договора. 1/2 от ключевой ставки ЦБ РФ (на день заключения договора), с первого дня месяца следующего за
                                месяцем истечения шестимесячного срока, либо месяца отмены ограничительных мер, в случае сохранения заемщиком численности работников на уровне не менее 90 процентов по отношению к марту 2020 года. Ключевая ставка ЦБ РФ
                                (на день заключения договора) с 1 числа месяца, следующего за месяцем истечения шестимесячного срока, либо месяца отмены ограничительных мер, в иных случаях.
                            </p>
                        </div>
                    </div>
                    <div class="capabilities__features-item">
                        <h4 class="capabilities__features-item-heading">
                            Обеспечение
                        </h4>
                        <div class="capabilities__features-item-text">
                            <p>
                                1. от 100 000 до 300 000 руб.: – поручительство физического или юридического лица;<br />
                                2. от 300 001 до 1 000 000 руб.: – поручительство физического или юридического лица + залог имущества стоимостью (с учетом К 0,7) не менее 50% от суммы микрозайма; – поручительство физического или юридического лица +
                                поручительство Гарантийного Фонда РТ на 50 процентов от суммы микрозайма.<br />
                                3. от 1 000 001 до 2 000 000 руб.: – поручительство физического или юридического лица + залог имущества стоимостью (с учетом К 0,7) не менее 100 % от суммы микрозайма; – поручительство физического или юридического лица
                                <br />
                                + поручительство Гарантийного Фонда РТ до 50 процентов от суммы микрозайма
                                <br />
                                + залог имущества (с учетом К 0,7) не менее 50 % от суммы микрозайма.
                            </p>
                        </div>
                    </div>
                    <div class="capabilities__features-item">
                        <h4 class="capabilities__features-item-heading">
                            Погашение
                        </h4>
                        <div class="capabilities__features-item-text">
                            <p>
                                Проценты – ежемесячно.<br>
                                Основной долг – ежемесячно (возможно предоставление отсрочки по уплате основного долга на 6 месяцев).
                            </p>
                        </div>
                    </div>
                    
                </div>
                <a href="#" class="capabilities__apply-link">
                    Подать заявку
                </a>
            </div>
        </div>
    </div>
</section>
