<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrubms__link">
                    Главная
                </a>
                <a href="#" class="breadcrubms__link">
                    Каталог сделок
                </a>
            </div>
        </div>
    </div>
</div>

<section class="deals">
    <div class="container">
        <div class="inner-container">
            <div class="content-container">
                <h2 class="page-heading deals__page-heading">
                    Каталог сделок
                </h2>
            </div>
            <div class="catalog-filter">
                <div class="catalog-filter__row">
                    <div class="catalog-filter__left-col">
                        <div class="catalog-filter__search-wrapper">
                            <input type="search" name="q" class="catalog-filter__search-input" placeholder="Название продукции" />
                            <button type="submit" class="catalog-filter__search-submit">
                                <svg width="16" height="16" aria-hidden="true" class="icon-search">
                                    <use xlink:href="#search" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="catalog-filter__right-col">
                        <div class="catalog__custom-select js-custom-select">
                            <select name="select">
                                <option placeholder>Фильтр</option>
                                <option value="value1">Значение 1</option>
                                <option value="value2">Значение 2</option>
                                <option value="value3">Значение 3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deals__catalog">
                <ul class="deals__catalog-list">
                    <li class="deals__catalog-list-item">
                        <a href="#" class="deals__card">
                            <div class="deals__card-top-row">
                                <h4 class="deals__card-title">
                                    Товары/работы/услуги, входящие в перечень исключительных закупок (согласно распоряжению Администрации МО "Город Астрахань")
                                </h4>
                                <p class="deals__card-price">
                                    23 000 руб
                                </p>
                            </div>
                            <div class="deals__card-bottom-row">
                                <div class="deals__card-info-item deals__card-info-item--org">
                                    <div class="deals__card-info-item-key">
                                        Организатор
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ ДОШКОЛЬНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ Г. АСТРАХАНИ "ДЕТСКИЙ САД № 36"
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--sup">
                                    <div class="deals__card-info-item-key">
                                        Поставщик
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        ИП Кильдюшова Т.П.
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--date">
                                    <div class="deals__card-info-item-key">
                                        Дата закупки
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        29.05.2020
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="deals__catalog-list-item">
                        <a href="#" class="deals__card">
                            <div class="deals__card-top-row">
                                <h4 class="deals__card-title">
                                    Лекарственные препараты для комплектации медицинских кабинетов образовательных учреждений
                                </h4>
                                <p class="deals__card-price">
                                    4 838 руб
                                </p>
                            </div>
                            <div class="deals__card-bottom-row">
                                <div class="deals__card-info-item deals__card-info-item--org">
                                    <div class="deals__card-info-item-key">
                                        Организатор
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ ДОШКОЛЬНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ Г. АСТРАХАНИ "ДЕТСКИЙ САД № 36"
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--sup">
                                    <div class="deals__card-info-item-key">
                                        Поставщик
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        ИП Кильдюшова Т.П.
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--date">
                                    <div class="deals__card-info-item-key">
                                        Дата закупки
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        29.05.2020
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="deals__catalog-list-item">
                        <a href="#" class="deals__card">
                            <div class="deals__card-top-row">
                                <h4 class="deals__card-title">
                                    Товары/работы/услуги, входящие в перечень исключительных закупок (согласно распоряжению Администрации МО "Город Астрахань")
                                </h4>
                                <p class="deals__card-price">
                                    60 785 руб
                                </p>
                            </div>
                            <div class="deals__card-bottom-row">
                                <div class="deals__card-info-item deals__card-info-item--org">
                                    <div class="deals__card-info-item-key">
                                        Организатор
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ ДОШКОЛЬНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ Г. АСТРАХАНИ "ДЕТСКИЙ САД № 36"
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--sup">
                                    <div class="deals__card-info-item-key">
                                        Поставщик
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        ИП Кильдюшова Т.П.
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--date">
                                    <div class="deals__card-info-item-key">
                                        Дата закупки
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        29.05.2020
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="deals__catalog-list-item">
                        <a href="#" class="deals__card">
                            <div class="deals__card-top-row">
                                <h4 class="deals__card-title">
                                    Товары/работы/услуги, входящие в перечень исключительных закупок (согласно распоряжению Администрации МО "Город Астрахань")
                                </h4>
                                <p class="deals__card-price">
                                    36 742 руб
                                </p>
                            </div>
                            <div class="deals__card-bottom-row">
                                <div class="deals__card-info-item deals__card-info-item--org">
                                    <div class="deals__card-info-item-key">
                                        Организатор
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ ДОШКОЛЬНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ Г. АСТРАХАНИ "ДЕТСКИЙ САД № 36"
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--sup">
                                    <div class="deals__card-info-item-key">
                                        Поставщик
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        ИП Кильдюшова Т.П.
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--date">
                                    <div class="deals__card-info-item-key">
                                        Дата закупки
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        29.05.2020
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="deals__catalog-list-item">
                        <a href="#" class="deals__card">
                            <div class="deals__card-top-row">
                                <h4 class="deals__card-title">
                                    Товары/работы/услуги, входящие в перечень исключительных закупок (согласно распоряжению Администрации МО "Город Астрахань")
                                </h4>
                                <p class="deals__card-price">
                                    14 400 руб
                                </p>
                            </div>
                            <div class="deals__card-bottom-row">
                                <div class="deals__card-info-item deals__card-info-item--org">
                                    <div class="deals__card-info-item-key">
                                        Организатор
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ ДОШКОЛЬНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ Г. АСТРАХАНИ "ДЕТСКИЙ САД № 36"
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--sup">
                                    <div class="deals__card-info-item-key">
                                        Поставщик
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        ИП Кильдюшова Т.П.
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--date">
                                    <div class="deals__card-info-item-key">
                                        Дата закупки
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        29.05.2020
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="deals__catalog-list-item">
                        <a href="#" class="deals__card">
                            <div class="deals__card-top-row">
                                <h4 class="deals__card-title">
                                    Товары/работы/услуги, входящие в перечень исключительных закупок (согласно распоряжению Администрации МО "Город Астрахань")
                                </h4>
                                <p class="deals__card-price">
                                    7 000 руб
                                </p>
                            </div>
                            <div class="deals__card-bottom-row">
                                <div class="deals__card-info-item deals__card-info-item--org">
                                    <div class="deals__card-info-item-key">
                                        Организатор
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ ДОШКОЛЬНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ Г. АСТРАХАНИ "ДЕТСКИЙ САД № 36"
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--sup">
                                    <div class="deals__card-info-item-key">
                                        Поставщик
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        ИП Кильдюшова Т.П.
                                    </div>
                                </div>
                                <div class="deals__card-info-item deals__card-info-item--date">
                                    <div class="deals__card-info-item-key">
                                        Дата закупки
                                    </div>
                                    <div class="deals__card-info-item-value">
                                        29.05.2020
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="#" class="load-more">
                Показать более ранние материалы
            </a>
        </div>
    </div>
</section>
