<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrubms__link">
                    Главная
                </a>
                <a href="#" class="breadcrubms__link">
                    Каталог предложений
                </a>
            </div>
        </div>
    </div>
</div>

<section class="goods">
    <div class="container">
        <div class="inner-container">
            <div class="content-container">
                <h2 class="page-heading">
                    Каталог предложений
                </h2>
                <div class="page-description">
                    <p>
                        Продукция, производимая в Республике Татарстан. <br />Чтобы добавить ВАШУ продукцию на сайт, заполните таблицу в excel и направьте нам на почту<br />
                        <a href="mailto:mc@mail.zakazrf.ru.">mc@mail.zakazrf.ru.</a>
                    </p>
                </div>
            </div>
            <div class="catalog-filter">
                <div class="catalog-filter__row">
                    <div class="catalog-filter__left-col">
                        <div class="catalog-filter__search-wrapper">
                            <input type="search" name="q" class="catalog-filter__search-input" placeholder="Название продукции" />
                            <button type="submit" class="catalog-filter__search-submit">
                                <svg width="16" height="16" aria-hidden="true" class="icon-search">
                                    <use xlink:href="#search" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="catalog-filter__right-col">
                        <div class="catalog__custom-select js-custom-select">
                            <select name="select">
                                <option placeholder>Фильтр</option>
                                <option value="value1">Значение 1</option>
                                <option value="value2">Значение 2</option>
                                <option value="value3">Значение 3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="goods__catalog">
                <ul class="goods__catalog-list">
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--darkened-top">
                            <img src="img/goods/goods-1.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                Автомобильные товары и запчасти
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--darkened-top">
                            <img src="img/goods/goods-2.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                Бытовая техника и электроника
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--darkened-top goods__catalog-card--darkened-top-medium">
                            <img src="img/goods/goods-3.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                ГСМ
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--dark-text goods__catalog-card--lightened-top">
                            <img src="img/goods/goods-4.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                Детские товары
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--darkened-top goods__catalog-card--darkened-top-slight">
                            <img src="img/goods/goods-5.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                Канцелярские товары
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--darkened-top">
                            <img src="img/goods/goods-6.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                Компьютерное оборудование
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--darkened-top">
                            <img src="img/goods/goods-1.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                Автомобильные товары и запчасти
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--darkened-top">
                            <img src="img/goods/goods-2.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                Бытовая техника и электроника
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--darkened-top goods__catalog-card--darkened-top-medium">
                            <img src="img/goods/goods-3.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                ГСМ
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--dark-text goods__catalog-card--lightened-top">
                            <img src="img/goods/goods-4.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                Детские товары
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--darkened-top goods__catalog-card--darkened-top-slight">
                            <img src="img/goods/goods-5.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                Канцелярские товары
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                    <li class="goods__catalog-list-item">
                        <a href="#" class="goods__catalog-card goods__catalog-card--darkened-top">
                            <img src="img/goods/goods-6.jpg" alt="" class="goods__catalog-card-image" />
                            <h5 class="goods__catalog-card-title">
                                Компьютерное оборудование
                            </h5>
                            <div class="goods__catalog-card-details">
                                Подробнее
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
