<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrubms__link">
                    Главная
                </a>
                <a href="#" class="breadcrubms__link">
                    Возможности
                </a>
            </div>
        </div>
    </div>
</div>

<section class="media">
    <div class="container">
        <div class="inner-container">
            <div class="content-container">
                <h2 class="page-heading">
                    Видео
                </h2>
            </div>
            <div class="media__links">
                <a href="#" class="media__link active">
                    Все видео
                </a>
                <a href="#" class="media__link">
                    Инструкции
                </a>
                <a href="#" class="media__link">
                    Лекции
                </a>
                <a href="#" class="media__link">
                    Вебинары
                </a>
                <a href="#" class="media__link">
                    Выступления
                </a>
                <a href="#" class="media__link">
                    Интервью
                </a>
            </div>
            <div class="media__catalog">
                <ul class="media__catalog-list">
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--with-image">
                            <img src="img/videos/videos-1.jpg" alt="" class="media__card-image" />
                            <h4 class="media__card-title">
                                Яков Вениаминович Геллер / Как получать крупные заказы / Поиск закупок / Маркетинговый центр
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Маркетинговый центр. Инвестиционные ниши. Каталог Сделок. Каталог Предложений. Геллер
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Особенности закупок по строительству, капитальному ремонту и реконструкции, Пост. Правит. №99.
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Лицензионный контроль за розничной продажей алкогольной продукции
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Особенности закупок по строительству, капитальному ремонту и реконструкции, Пост. Правит. №99.
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Маркетинговый центр. Инвестиционные ниши. Каталог Сделок. Каталог Предложений. Геллер
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Маркетинговый центр. Инвестиционные ниши. Каталог Сделок. Каталог Предложений. Геллер
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--with-image media__card--dark-text">
                            <img src="img/videos/videos-2.jpg" alt="" class="media__card-image" />
                            <h4 class="media__card-title">
                                Маркетинговый центр. Инвестиционные ниши. Каталог Сделок. Каталог Предложений. Геллер Я.В.
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Маркетинговый центр. Инвестиционные ниши. Каталог Сделок. Каталог Предложений. Геллер
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Особенности закупок по строительству, капитальному ремонту и реконструкции, Пост. Правит. №99.
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Маркетинговый центр. Инвестиционные ниши. Каталог Сделок. Каталог Предложений. Геллер
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--with-image">
                            <img src="img/videos/videos-3.jpg" alt="" class="media__card-image" />
                            <h4 class="media__card-title">
                                Контрактная система 2020, изменения законодательства  с 01.07/Обзор функционала  площадки ЭТП ЗаказРФ
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Особенности закупок по строительству, капитальному ремонту и реконструкции, Пост. Правит. №99.
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Лицензионный контроль за розничной продажей алкогольной продукции
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                    <li class="media__catalog-list-item">
                        <a href="#" class="media__card media__card--dark-text">
                            <h4 class="media__card-title">
                                Особенности закупок по строительству, капитальному ремонту и реконструкции, Пост. Правит. №99.
                            </h4>
                            <span class="media__card-link">
                                Подробнее
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pagination">
                <div class="pagination__arrows">
                    <a href="#" class="pagination__arrow pagination__arrow--prev">
                        <svg width="6" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#slider-arrow-left" />
                        </svg>
                    </a>
                    <a href="#" class="pagination__arrow pagination__arrow--next">
                        <svg width="6" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#slider-arrow-right" />
                        </svg>
                    </a>
                </div>
                <div class="pagination__links">
                    <a href="#" class="pagination__link">
                        1
                    </a>
                    <a href="#" class="pagination__link active">
                        2
                    </a>
                    <a href="#" class="pagination__link">
                        3
                    </a>
                    <a href="#" class="pagination__link">
                        ...
                    </a>
                    <a href="#" class="pagination__link">
                        8
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
