<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrubms__link">
                    Главная
                </a>
                <a href="#" class="breadcrubms__link">
                    Каталог потребностей
                </a>
            </div>
        </div>
    </div>
</div>

<div class="needs-table">
    <div class="container">
        <div class="inner-container">
            <h2 class="page-heading article__page-heading">
                Каталог потребностей
            </h2>
            <p class="page-date article__page-date">
                10 Марта 2020
            </p>
            <div class="needs-table__content">
                <div class="needs-table__scroll-wrapper">
                    <div class="needs-table__wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        №
                                    </th>
                                    <th>
                                        Наименование продукции
                                    </th>
                                    <th>
                                        Код ОКПД2+
                                    </th>
                                    <th>
                                        Производитель
                                    </th>
                                    <th>
                                        ИНН
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2">
                                        1
                                    </td>
                                    <td rowspan="2">
                                        <div class="needs-table__item-info">
                                            <div class="needs-table__item-info-image-container"></div>
                                            <div class="needs-table__item-info-text">
                                                Сухари панировочные из хлебных сухарей высшего сорта 1 кг в упаковке
                                            </div>
                                        </div>
                                    </td>
                                    <td rowspan="2">
                                        123456789012344
                                    </td>
                                    <td>
                                        <a href="#">
                                            АО “Зеленодольский молокопереробатывающий завод”
                                        </a>
                                    </td>
                                    <td>
                                        123456789012344
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            АО “Зеленодольский молокопереробатывающий завод”
                                        </a>
                                    </td>
                                    <td>
                                        123456789012344
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">
                                        2
                                    </td>
                                    <td rowspan="2">
                                        <div class="needs-table__item-info">
                                            <div class="needs-table__item-info-image-container"></div>
                                            <div class="needs-table__item-info-text">
                                                Сухари панировочные из хлебных сухарей высшего сорта 1 кг в упаковке
                                            </div>
                                        </div>
                                    </td>
                                    <td rowspan="2">
                                        123456789012344
                                    </td>
                                    <td>
                                        <a href="#">
                                            АО “Зеленодольский молокопереробатывающий завод”
                                        </a>
                                    </td>
                                    <td>
                                        123456789012344
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            АО “Зеленодольский молокопереробатывающий завод”
                                        </a>
                                    </td>
                                    <td>
                                        123456789012344
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2">
                                        3
                                    </td>
                                    <td rowspan="2">
                                        <div class="needs-table__item-info">
                                            <div class="needs-table__item-info-image-container"></div>
                                            <div class="needs-table__item-info-text">
                                                Сухари панировочные из хлебных сухарей высшего сорта 1 кг в упаковке
                                            </div>
                                        </div>
                                    </td>
                                    <td rowspan="2">
                                        123456789012344
                                    </td>
                                    <td>
                                        <a href="#">
                                            АО “Зеленодольский молокопереробатывающий завод”
                                        </a>
                                    </td>
                                    <td>
                                        123456789012344
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            АО “Зеленодольский молокопереробатывающий завод”
                                        </a>
                                    </td>
                                    <td>
                                        123456789012344
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
