<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrubms__link">
                    Главная
                </a>
                <a href="#" class="breadcrubms__link">
                    Каталог предложений
                </a>
            </div>
        </div>
    </div>
</div>

<section class="niche">
    <div class="container">
        <div class="inner-container">
            <div class="content-container">
                <h2 class="page-heading">
                    Каталог предложений
                </h2>
                <div class="page-description">
                    <p>
                        "Агентство по государственному заказу Республики Татарстан" совместно с Министерством экономики Республики Татарстан ежемесячно анализируют потребности заказчиков в рамках 223-ФЗ и 44-ФЗ.
                    </p>
                    <p>
                        Мы определяем, какие товары закупают наиболее часто, но при этом спрос не удовлетворяют местные поставщики. Это и есть потенциальные ниши для инвестирования на территории Республики Татарстан. Результаты анализа публикуются
                        ежемесячно (обновлено на апрель 2020).
                    </p>
                </div>
            </div>
            <!-- <div class="catalog-filter">
                <div class="catalog-filter__row">
                    <div class="catalog-filter__left-col">
                        <div class="catalog-filter__search-wrapper">
                            <input type="search" name="q" class="catalog-filter__search-input" placeholder="Название продукции" />
                            <button type="submit" class="catalog-filter__search-submit">
                                <svg width="16" height="16" aria-hidden="true" class="icon-search">
                                    <use xlink:href="#search" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="catalog-filter__right-col">
                        <div class="catalog__custom-select js-custom-select">
                            <select name="select">
                                <option placeholder>Фильтр</option>
                                <option value="value1">Значение 1</option>
                                <option value="value2">Значение 2</option>
                                <option value="value3">Значение 3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="niche__menu">
                <div class="niche__menu-row">
                    <a href="#" class="niche__menu-link active">
                        Предполагаемые ниши
                    </a>
                    <a href="#" class="niche__menu-link">
                        По информации профильных минестерств
                    </a>
                    <a href="#" class="niche__menu-link">
                        Отсутствие предложений
                    </a>
                </div>
            </div>
            <div class="niche__catalog">
                <ul class="niche__catalog-list">
                    <li class="niche__catalog-list-item">
                        <a href="#" class="publications__short-card publications__short-card--niche">
                            <div class="publications__short-card-image-container">
                                <img src="img/niche/niche-1.jpg" alt="" class="publications__short-card-image" />
                                <div class="publications__card-tag publications__card-tag--orange">
                                    Недостаточно
                                </div>
                            </div>
                            <h4 class="publications__short-card-title">
                                Песок обогащенный<br />
                                5711049999
                            </h4>
                            <span class="publications__card-date publications__short-card-date">
                                Недостаточное присутствие
                            </span>
                        </a>
                    </li>
                    <li class="niche__catalog-list-item">
                        <a href="#" class="publications__short-card publications__short-card--niche">
                            <div class="publications__short-card-image-container">
                                <img src="img/niche/niche-2.jpg" alt="" class="publications__short-card-image" />
                                <div class="publications__card-tag publications__card-tag--red">
                                    Отсутствует
                                </div>
                            </div>
                            <h4 class="publications__short-card-title">Горошек зеленый консервированный, сорт высший или первый <br />10.39.16.000-00501</h4>
                            <span class="publications__card-date publications__short-card-date">
                                Юридические и физические лица
                            </span>
                        </a>
                    </li>
                    <li class="niche__catalog-list-item">
                        <a href="#" class="publications__short-card publications__short-card--niche">
                            <div class="publications__short-card-image-container">
                                <img src="img/niche/niche-3.jpg" alt="" class="publications__short-card-image" />
                                <div class="publications__card-tag publications__card-tag--orange">
                                    Недостаточно
                                </div>
                            </div>
                            <h4 class="publications__short-card-title">
                                Перчатки трикотажные<br />
                                14.12.30.150-00025
                            </h4>
                            <span class="publications__card-date publications__short-card-date">
                                Недостаточное присуствие
                            </span>
                        </a>
                    </li>
                    <li class="niche__catalog-list-item">
                        <a href="#" class="publications__short-card publications__short-card--niche">
                            <div class="publications__short-card-image-container">
                                <img src="img/niche/niche-4.jpg" alt="" class="publications__short-card-image" />
                                <div class="publications__card-tag publications__card-tag--orange">
                                    Недостаточно
                                </div>
                            </div>
                            <h4 class="publications__short-card-title">
                                Гвозди<br />
                                1600000061
                            </h4>
                            <span class="publications__card-date publications__short-card-date">
                                Недостаточное присуствие
                            </span>
                        </a>
                    </li>
                    <li class="niche__catalog-list-item">
                        <a href="#" class="publications__short-card publications__short-card--niche">
                            <div class="publications__short-card-image-container">
                                <img src="img/niche/niche-4.jpg" alt="" class="publications__short-card-image" />
                                <div class="publications__card-tag publications__card-tag--orange">
                                    Недостаточно
                                </div>
                            </div>
                            <h4 class="publications__short-card-title">
                                Гвозди<br />
                                1600000061
                            </h4>
                            <span class="publications__card-date publications__short-card-date">
                                Недостаточное присуствие
                            </span>
                        </a>
                    </li>
                    <li class="niche__catalog-list-item">
                        <a href="#" class="publications__short-card publications__short-card--niche">
                            <div class="publications__short-card-image-container">
                                <img src="img/niche/niche-3.jpg" alt="" class="publications__short-card-image" />
                                <div class="publications__card-tag publications__card-tag--orange">
                                    Недостаточно
                                </div>
                            </div>
                            <h4 class="publications__short-card-title">
                                Перчатки трикотажные<br />
                                14.12.30.150-00025
                            </h4>
                            <span class="publications__card-date publications__short-card-date">
                                Недостаточное присуствие
                            </span>
                        </a>
                    </li>
                    <li class="niche__catalog-list-item">
                        <a href="#" class="publications__short-card publications__short-card--niche">
                            <div class="publications__short-card-image-container">
                                <img src="img/niche/niche-2.jpg" alt="" class="publications__short-card-image" />
                                <div class="publications__card-tag publications__card-tag--red">
                                    Отсутствует
                                </div>
                            </div>
                            <h4 class="publications__short-card-title">
                                Горошек зеленый консервированный, сорт высший или первый<br />
                                10.39.16.000-00501
                            </h4>
                            <span class="publications__card-date publications__short-card-date">
                                Юридические и физические лица
                            </span>
                        </a>
                    </li>
                    <li class="niche__catalog-list-item">
                        <a href="#" class="publications__short-card publications__short-card--niche">
                            <div class="publications__short-card-image-container">
                                <img src="img/niche/niche-1.jpg" alt="" class="publications__short-card-image" />
                                <div class="publications__card-tag publications__card-tag--orange">
                                    Недостаточно
                                </div>
                            </div>
                            <h4 class="publications__short-card-title">
                                Песок обогащенный<br />
                                5711049999
                            </h4>
                            <span class="publications__card-date publications__short-card-date">
                                Недостаточное присутствие
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="#" class="load-more">
                Показать более ранние материалы
            </a>
        </div>
    </div>
</section>
