<section class="publications">
    <div class="container">
        <ul class="publications__list">
            <li class="publications__list-item publications__list-item--fullwidth">
                <a href="#" class="publications__large-card">
                    <img src="img/publications/large-card-bg.jpg" alt="" class="publications__large-card-image" />
                    <h4 class="publications__large-card-title">
                        Истории успеха в период самоизоляции от предпринимателей Татарстана
                    </h4>
                    <div class="publications__large-card-text">
                        <p>
                            Президент сети салонов красоты «Персона» Игорь Стоянов делится секретами успешного бизнеса и рассказывает, что помогает ему осознанно управлять командой.
                        </p>
                    </div>
                    <span class="publications__large-card-link">
                        Подробнее
                    </span>
                </a>
            </li>
            <li class="publications__list-item publications__list-item--halfwidth">
                <a href="#" class="publications__solid-card">
                    <div class="publications__card-tag">
                        Здесь и сейчас
                    </div>
                    <h4 class="publications__solid-card-title">
                        COVID-19 товары повышенного спроса
                    </h4>
                </a>
            </li>
            <li class="publications__list-item">
                <a href="#" class="publications__short-card">
                    <div class="publications__short-card-image-container">
                        <img src="img/publications/short-card-1.jpg" alt="" class="publications__short-card-image" />
                        <div class="publications__card-tag publications__card-tag--green">
                            Персона
                        </div>
                    </div>
                    <h4 class="publications__short-card-title">
                        Фарит Ханифов о новых материалах в строительстве
                    </h4>
                    <span class="publications__card-date publications__short-card-date">
                        10 Марта 2020
                    </span>
                </a>
            </li>
            <li class="publications__list-item">
                <a href="#" class="publications__simple-image-card">
                    <img src="img/publications/publications-simple-image-card-1.jpg" alt="" class="publications__simple-image-card-image" />
                    <div class="publications__card-tag publications__card-tag--blue">
                        Аналитика
                    </div>
                    <h4 class="publications__simple-image-card-title">
                        Прогноз закупок лекарств на 2021 год
                    </h4>
                </a>
            </li>
            <li class="publications__list-item">
                <a href="#" class="publications__simple-solid-card">
                    <div class="publications__card-tag publications__card-tag--orange">
                        Рейтинги
                    </div>

                    <h4 class="publications__simple-solid-card-title">
                        Агрызский и Балтасинский районы лидеры по производству  медицинских масок
                    </h4>
                </a>
            </li>
            <li class="publications__list-item">
                <a href="#" class="publications__short-card">
                    <div class="publications__short-card-image-container">
                        <img src="img/publications/short-card-2.jpg" alt="" class="publications__short-card-image" />
                        <div class="publications__card-tag publications__card-tag--blue">
                            История
                        </div>
                    </div>
                    <h4 class="publications__short-card-title">
                        Основателю РМЦ исполнилось 70 лет
                    </h4>
                    <span class="publications__card-date publications__short-card-date">
                        10 Марта 2020
                    </span>
                </a>
            </li>
            <li class="publications__list-item">
                <a href="#" class="publications__simple-image-card">
                    <img src="img/publications/simple-image-card-2.jpg" alt="" class="publications__simple-image-card-image" />
                    <div class="publications__card-tag publications__card-tag--red">
                        Аналитика
                    </div>
                    <h4 class="publications__simple-image-card-title">
                        “Акбарс керамика” объявил распродажу
                    </h4>
                    <span class="publications__card-date">
                        10 Марта 2020
                    </span>
                </a>
            </li>
            <li class="publications__list-item">
                <a href="#" class="publications__large-solid-card">
                    <div class="publications__card-tag">
                        Ажиотаж
                    </div>
                    <h4 class="publications__large-solid-card-title">
                        10 закупок прошедшей недели
                    </h4>
                </a>
            </li>
        </ul>
    </div>
</section>
