<section class="read-also js-read-also-slider">
    <div class="container">
        <div class="inner-container">
            <h2 class="read-also__heading">
                Читайте также
            </h2>
            <div class="read-also__slider">
                <div class="read-also__slider-arrows">
                    <button class="read-also__slider-arrow read-also__slider-arrow--prev">
                        <span class="read-also__slider-arrow-content">
                            <svg width="6" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left" />
                            </svg>
                        </span>
                    </button>
                    <button class="read-also__slider-arrow read-also__slider-arrow--next">
                        <span class="read-also__slider-arrow-content">
                            <svg width="6" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right" />
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="publications__short-card">
                                <div class="publications__short-card-image-container">
                                    <img src="img/article/read-also-1.jpg" alt="" class="publications__short-card-image" />
                                   
                                </div>
                                <h4 class="publications__short-card-title">
                                    Опубликована актуализированная инструкция по подключению к РМЦ
                                </h4>
                                <span class="publications__card-date publications__short-card-date">
                                    10 Марта 2020
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="publications__short-card">
                                <div class="publications__short-card-image-container">
                                    <img src="img/article/read-also-2.jpg" alt="" class="publications__short-card-image" />
                                   
                                </div>
                                <h4 class="publications__short-card-title">
                                    Опубликована актуализированная инструкция по подключению к РМЦ
                                </h4>
                                <span class="publications__card-date publications__short-card-date">
                                    10 Марта 2020
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="publications__short-card">
                                <div class="publications__short-card-image-container">
                                    <img src="img/article/read-also-3.jpg" alt="" class="publications__short-card-image" />
                                   
                                </div>
                                <h4 class="publications__short-card-title">
                                    Опубликована актуализированная инструкция по подключению к РМЦ
                                </h4>
                                <span class="publications__card-date publications__short-card-date">
                                    10 Марта 2020
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="publications__short-card">
                                <div class="publications__short-card-image-container">
                                    <img src="img/article/read-also-4.jpg" alt="" class="publications__short-card-image" />
                                   
                                </div>
                                <h4 class="publications__short-card-title">
                                    Опубликована актуализированная инструкция по подключению к РМЦ
                                </h4>
                                <span class="publications__card-date publications__short-card-date">
                                    10 Марта 2020
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="publications__short-card">
                                <div class="publications__short-card-image-container">
                                    <img src="img/article/read-also-1.jpg" alt="" class="publications__short-card-image" />
                                   
                                </div>
                                <h4 class="publications__short-card-title">
                                    Опубликована актуализированная инструкция по подключению к РМЦ
                                </h4>
                                <span class="publications__card-date publications__short-card-date">
                                    10 Марта 2020
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>