<section class="search">
    <div class="search__header">
        <div class="breadcrumbs">
            <div class="container">
                <div class="inner-container">
                    <div class="breadcrumbs__links">
                        <a href="#" class="breadcrubms__link">
                            Главная
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-container">
                <h2 class="page-heading search__heading">
                    Результаты поиска
                </h2>
                <form action="/" method="GET" class="search__form">
                    <div class="search__form-row">
                        <div class="search__form-input-wrapper">
                            <input type="text" class="search__form-input" placeholder="Поиск" />
                        </div>
                        <button type="submit" class="search__form-submit">
                            Найти
                        </button>
                    </div>
                </form>
                <div class="search__found-results">
                    Найдено 100 результатов
                </div>
            </div>
        </div>
    </div>
    <div class="search__content">
        <div class="container">
            <div class="inner-container">
                <div class="search__results">
                    <ul class="search__results-list">
                        <li class="search__results-list-item">
                            <a href="#" class="search__results-card">
                                <div class="search__results-card-left-col">
                                    <div class="search__results-card-source">
                                        Источник:
                                        <div class="search__results-card-source-large-text">
                                            Истории успеха
                                        </div>
                                    </div>
                                </div>
                                <div class="search__results-card-right-col">
                                    <h5 class="search__results-card-title">
                                        Заголовок текста
                                    </h5>
                                    <div class="search__results-card-text">
                                        <p>
                                            Повседневная практика показывает, что <em>обновление</em> портала и дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="search__results-list-item">
                            <a href="#" class="search__results-card">
                                <div class="search__results-card-left-col">
                                    <div class="search__results-card-source">
                                        Источник:
                                        <div class="search__results-card-source-large-text">
                                            Каталог ниш
                                        </div>
                                    </div>
                                </div>
                                <div class="search__results-card-right-col">
                                    <h5 class="search__results-card-title">
                                        Заголовок текста
                                    </h5>
                                    <div class="search__results-card-text">
                                        <p>
                                            Повседневная практика показывает, что <em>обновление</em> портала и дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="search__results-list-item">
                            <a href="#" class="search__results-card">
                                <div class="search__results-card-left-col">
                                    <div class="search__results-card-source">
                                        Источник:
                                        <div class="search__results-card-source-large-text">
                                            Истории успеха
                                        </div>
                                    </div>
                                </div>
                                <div class="search__results-card-right-col">
                                    <h5 class="search__results-card-title">
                                        Заголовок текста
                                    </h5>
                                    <div class="search__results-card-text">
                                        <p>
                                            Повседневная практика показывает, что <em>обновление</em> портала и дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="search__results-list-item">
                            <a href="#" class="search__results-card">
                                <div class="search__results-card-left-col">
                                    <div class="search__results-card-source">
                                        Источник:
                                        <div class="search__results-card-source-large-text">
                                            Истории успеха
                                        </div>
                                    </div>
                                </div>
                                <div class="search__results-card-right-col">
                                    <h5 class="search__results-card-title">
                                        Заголовок текста
                                    </h5>
                                    <div class="search__results-card-text">
                                        <p>
                                            Повседневная практика показывает, что <em>обновление</em> портала и дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pagination">
                    <div class="pagination__arrows">
                        <a href="#" class="pagination__arrow pagination__arrow--prev">
                            <svg width="6" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                                <use xlink:href="#slider-arrow-left" />
                            </svg>
                        </a>
                        <a href="#" class="pagination__arrow pagination__arrow--next">
                            <svg width="6" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                                <use xlink:href="#slider-arrow-right" />
                            </svg>
                        </a>
                    </div>
                    <div class="pagination__links">
                        <a href="#" class="pagination__link">
                            1
                        </a>
                        <a href="#" class="pagination__link active">
                            2
                        </a>
                        <a href="#" class="pagination__link">
                            3
                        </a>
                        <a href="#" class="pagination__link">
                            ...
                        </a>
                        <a href="#" class="pagination__link">
                            8
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
