<section class="selected-news">
    <div class="container">
        <div class="selected-news__row">
            <div class="selected-news__col">
                <a href="#" class="publications__simple-solid-card">
                    <div class="publications__card-tag publications__card-tag--blue">
                        Показатели
                    </div>

                    <h4 class="publications__simple-solid-card-title">
                        Три новых предприятия в РМЦ
                    </h4>
                </a>
            </div>
            <div class="selected-news__col">
                <a href="#" class="publications__large-solid-card publications__large-solid-card--green publications__large-solid-card--small-text">
                    <div class="publications__card-tag">
                        Оценки
                    </div>
                    <h4 class="publications__large-solid-card-title">
                        Работа в РМЦ привела к 15%<br />
                        росту продаж<br />
                        ООО “Ромашка”
                    </h4>
                </a>
            </div>
            <div class="selected-news__col">
                <a href="#" class="publications__simple-image-card publications__simple-image-card--white-text publications__simple-image-card--large-text">
                    <img src="img/publications/simple-image-card-3.jpg" alt="" class="publications__simple-image-card-image" />
                    <div class="publications__card-tag publications__card-tag--green">
                        Аналитика
                    </div>
                    <h4 class="publications__simple-image-card-title">
                        Закупка радиаторов<br />
                        по программе<br />
                        соципотеки<br />
                        в 2018-2020 годах
                    </h4>
                </a>
            </div>
            <div class="selected-news__col">
                <a href="#" class="publications__short-card">
                    <div class="publications__short-card-image-container">
                        <img src="img/publications/short-card-3.jpg" alt="" class="publications__short-card-image" />
                        <div class="publications__card-tag publications__card-tag--red">
                            Персона
                        </div>
                    </div>
                    <h4 class="publications__short-card-title">
                        В Удмуртии выставлен на продажу коровник
                    </h4>
                    <span class="publications__card-date publications__short-card-date">
                        10 Марта 2020
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
