<section class="similar">
    <div class="container">
        <div class="inner-container">
            <h2 class="similar__heading">
                Похожие материалы
            </h2>
            <ul class="similar__list">
                <li class="similar__list-item">
                    <a href="#" class="similar__card">
                        Название меры поддержки, программы или другие материалы
                    </a>
                </li>
                <li class="similar__list-item">
                    <a href="#" class="similar__card">
                        Название программы или другие материалы
                    </a>
                </li>
                <li class="similar__list-item">
                    <a href="#" class="similar__card">
                        Название программы или другие материалы
                    </a>
                </li>
                <li class="similar__list-item">
                    <a href="#" class="similar__card">
                        Название меры поддержки, программы или другие материалы
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>