<section class="videos">
    <div class="container">
        <div class="videos__top-row">
            <h2 class="videos__heading">
                Видео
            </h2>
            <a href="#" class="videos__all-videos-link">
                Все видео
                <svg width="6" height="12" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right" />
                </svg>
            </a>
        </div>
        <div class="videos__slider js-videos-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="videos__slider-card">
                            <img src="img/videos/videos-1.jpg" alt="" class="videos__slider-card-image" />
                            <h4 class="videos__slider-card-title">
                                Яков Вениаминович Геллер / Как получать крупные заказы / Поиск закупок / Маркетинговый центр
                            </h4>
                            <span class="videos__slider-card-link">
                                Подробнее
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="videos__slider-card videos__slider-card--dark-text">
                            <img src="img/videos/videos-2.jpg" alt="" class="videos__slider-card-image" />
                            <h4 class="videos__slider-card-title">
                                Маркетинговый центр. Инвестиционные ниши. Каталог Сделок. Каталог Предложений. Геллер Я.В.
                            </h4>
                            <span class="videos__slider-card-link">
                                Подробнее
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="videos__slider-card">
                            <img src="img/videos/videos-3.jpg" alt="" class="videos__slider-card-image" />
                            <h4 class="videos__slider-card-title">
                                Контрактная система 2020, изменения законодательства  с 01.07/Обзор функционала  площадки ЭТП ЗаказРФ
                            </h4>
                            <span class="videos__slider-card-link">
                                Подробнее
                            </span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="videos__slider-card">
                            <img src="img/videos/videos-1.jpg" alt="" class="videos__slider-card-image" />
                            <h4 class="videos__slider-card-title">
                                Яков Вениаминович Геллер / Как получать крупные заказы / Поиск закупок / Маркетинговый центр
                            </h4>
                            <span class="videos__slider-card-link">
                                Подробнее
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="videos__slider-arrows">
                <button class="videos__slider-arrow videos__slider-arrow--prev">
                    <span class="videos__slider-arrow-content">
                        <svg width="6" height="12" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#slider-arrow-left" />
                        </svg>
                    </span>
                </button>
                <button class="videos__slider-arrow videos__slider-arrow--next">
                    <span class="videos__slider-arrow-content">
                        <svg width="6" height="12" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#slider-arrow-right" />
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>
</section>
