<footer class="page-footer">
    <div class="container">
        <div class="page-footer__top-row">
            <div class="page-footer__logo-block">
                <a href="#" class="page-footer__logo-link">
                    <img src="img/logo.svg" alt="" class="page-footer__logo-image" width="75" />
                    <span class="page-footer__logo-text">
                        Республиканский<br />
                        маркетинговый центр
                    </span>
                </a>
                <a href="tel:+78005007621" class="page-footer__phone-link">8-800-500-76-21</a>
                <p class="page-footer__regime">
                    с 10:00 до 18:00 МСК
                </p>
            </div>
            <div class="page-footer__nav">
                <div class="page-footer__nav-row">
                    <div class="page-footer__nav-col">
                        <h4 class="page-footer__nav-heading">
                            Разделы сайта
                        </h4>
                        <ul class="page-footer__nav-list">
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Истории успеха
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Возможности
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Видео
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Предложения
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Об РМЦ
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-footer__nav-col">
                        <h4 class="page-footer__nav-heading">
                            Каталоги
                        </h4>
                        <ul class="page-footer__nav-list">
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Каталог предложений
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Каталог ниш
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Каталог сделок
                                </a>
                            </li>
                            <li class="page-footer__nav-list-item">
                                <a href="#" class="page-footer__nav-link">
                                    Каталог потребностей
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <p class="page-footer__copyright">
                © 2020 «Республиканский маркетинговый центр»              
            </p>
            <a href="#" class="page-footer__sitemap-link">
                Карта портала
            </a>
        </div>
    </div>
</footer>
