<header class="page-header">
    <div class="container">
        <div class="page-header__top-row">
            <button class="page-header__burger js-burger-btn">
                <span class="page-header__burger-content">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>

            <a href="search.html" class="page-header__search-link">
                <svg width="16" height="16" aria-hidden="true" class="icon-search">
                    <use xlink:href="#search" />
                </svg>
                <span class="page-header__search-link-text">
                    Поиск по сайту
                </span>
            </a>

            <div class="page-header__hotline">
                <span class="page-header__hotline-text">
                    Горячая линия
                </span>
              
                <a href="tel:+78005007621" class="page-header__hotline-link">8-800-500-76-21</a>
            </div>
        </div>

        <div class="page-header__bottom-row">
            <a href="#" class="page-header__logo-link">
                <img src="img/logo.svg" alt="" class="page-header__logo-image" width="75" />
                <span class="page-header__logo-text">
                    Республиканский<br />
                    маркетинговый центр
                </span>
            </a>
            <nav class="page-header__nav">
                <div class="page-header__nav-inner-wrapper js-burger-menu-inner">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="article.html" class="page-header__nav-link">
                                Истории успеха
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="capabilities.html" class="page-header__nav-link">
                                Возможности
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="media.html" class="page-header__nav-link">
                                Видео
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="goods.html" class="page-header__nav-link">
                                Предложения
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="niche.html" class="page-header__nav-link">
                                Каталог ниш
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="deals.html" class="page-header__nav-link">
                                Каталог сделок
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="catalog.html" class="page-header__nav-link">
                                Каталог потребностей
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
