.selected-news {
    padding-top: 5.4rem;
    padding-bottom: 7.6rem;

    @include breakpoint(mobile) {
        padding: 4rem 0;
    }
}


.selected-news__row {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;

    
}

.selected-news__col {
    width: 25%;
    padding: 1rem;


    @include breakpoint(tablet) {
        width: 33.33%;
    }

    @include breakpoint(mobile) {
        width: 100%;
    }
}