.breadcrumbs {
    padding: 2.7rem 0;

    @include breakpoint(mobile) {
        padding: 2rem 0;
    }
}

.breadcrumbs__links {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.breadcrubms__link {
    color: #76767a;
    font-size: 1.2rem;
    line-height: 130%;
    margin-right: 0.3em;
    transition: color .2s;
    &:link,
    &:visited {
        color: #76767a;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #FF0000;
    }

    &::after {
        content: ' / ';
        font-size: 1.2rem;
        line-height: 130%;
        color: #76767a;
    }


    &:last-child {
        &::after {
            display: none;
        }
    }
}
