.page-header {

    position: relative;
    z-index: 400;
}

.page-header__top-row {
    position: relative;
    z-index: 1;
    min-height: 6rem;
    display: flex;
    justify-content: flex-end;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        background: #051945;
        left: calc((100vw - 100%) / 2 * -1);
        width: 100vw;
        z-index: -1;
        pointer-events: none;
    }
}

.page-header__burger {
    display: none;
    margin-right: auto;



    @include breakpoint(tablet) {
        display: block;
    }
}

.page-header__burger-content {
    display: flex;
    flex-direction: column;

    & > span {
        width: 3rem;
        height: 0.2rem;
        background-color: #fff;
        margin-bottom: 0.6rem;
        border-radius: 0.2rem;
        transition: opacity .2s, transform .2s;
        &:last-child {
            margin-bottom: 0;
        }

       
    }

    .burger-menu-open & > span {

        &:nth-child(1) {
            transform: translateY(.8rem) rotate(45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }


        &:nth-child(3) {
            transform: translateY(-.8rem) rotate(-45deg);
        }
    }
}

.page-header__search-link {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.7rem;
    align-self: stretch;
    padding: 0 2.2rem;
    transition: color 0.2s;
    border-right: 1px solid #2a3b61;
    &:link,
    &:visited {
        color: #828ca2;
    }

    svg {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 1.2rem;
        flex-shrink: 0;
        fill: #828ca2;
        transition: fill 0.2s;
        @include breakpoint(mobile) {
            margin: 0;
            width: 2rem;
            height: 2rem;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;

        svg {
            fill: white;
        }
    }
  
}


.page-header__search-link-text {
    @include breakpoint(mobile) {
        @include visuallyHidden();
    }
}

.page-header__hotline {
    font-size: 1.4rem;
    line-height: 150%;
    padding-left: 1.7rem;
    color: #828ca2;
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
    }
}

.page-header__hotline-text {
    @include breakpoint(mobile) {
        @include visuallyHidden();
    }
}

.page-header__hotline-link {
    color: white;
    transition: color 0.2s;
    margin-left: 1rem;
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #FF0000;
    }
}

.page-header__bottom-row {
    display: flex;
    align-items: center;
    min-height: 8.4rem;
    position: relative;
    background-color: #fff;
    z-index: 1;
    &::before {
        content: '';
        background: #E5E5EB;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: calc((100vw - 100%) / 2 * -1);
        pointer-events: none;
        width: 100vw;
    }
}

.page-header__logo-link {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 130%;
    color: #000000;
    display: inline-flex;
    align-items: center;
   
    flex-shrink: 0;
    margin-right: 2rem;

    user-select: none;
    transition: color .2s;
    @include noHighlight();
    &:link,
    &:visited {
        color: #000000;
    }

    // .no-touch &:hover,
    // .touch &:active {
    //     color: #FF0000;
    // }
}

.page-header__logo-image {
    width: 7.5rem;
    flex-shrink: 0;
    margin-right: 0.8rem;
}

.page-header__nav {
    margin-left: auto;

    @include breakpoint(tablet) {
        position: fixed;
        left: 0;
        top: 13rem;
        width: 100%;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s, visibility 0s linear .3s;
        z-index: 300;
        background-color: #fff;


        @supports (-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)) {
            background-color: rgba(white, .8);
            backdrop-filter: blur(2rem);
        }

        .burger-menu-open & {
            opacity: 1;
            visibility: visible;
            transition: all .3s;
        }
    }
}


.page-header__nav-inner-wrapper {
    @include breakpoint(tablet) {
        height: 100%;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        padding: 0 var(--content-padding);
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}


.page-header__nav-list {
    display: flex;
    align-items: center;

    @include breakpoint(tablet) {
        flex-direction: column;
        align-items: initial;
        padding: 4rem 0;
        margin-top: 5rem;


        
    }


    @include breakpoint(mobile) {
        padding: 2rem 0;
        margin-top: 4rem;
    }
}

.page-header__nav-list-item {
    margin-right: 2rem;
    &:last-child {
        margin-right: 0;
    }


    @include breakpoint(tablet) {
        margin: 0;
        margin-bottom: 3rem;
       
        &:last-child {
            margin-bottom: 0;
        }
    }


    @include breakpoint(mobile) {
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page-header__nav-link {
    font-size: 1.6rem;
    line-height: 180%;
    color: #333333;
    transition: color .2s;
    user-select: none;
    display: inline-block;
    @include noHighlight();
    &:link,
    &:visited {
        color: #333333;
    }


    .no-touch &:hover,
    .touch &:active {
        color: #FF0000;
    }


    @include breakpoint(tablet) {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2;
    }


    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
    }
}



